
<h2>Hotel Details:</h2>
<hr>

<div style="float: right; width: 50%">
<input type="text" class="form-control" [(ngModel)]="destinationName" placeholder="Serach by loaction.."/>
</div>

<br><br>
<table class="table table-hover content">
    <thead>
      <tr>
        <th>Hotel Code</th>
        <th>Hotel Name</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hotelsData?.hotels | customerEmailFilter:destinationName; let i = index">
        <td>{{hotel.propertyCode}}</td>
        <td>{{hotel.name}}</td>
        <td>{{hotel.address.city }}</td>
        <td (click)="hotelDetail(hotel)"><a>View Details</a></td>
      </tr>
    </tbody>
  </table>
 
  <br><br><br>


