
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
  }
  .header{
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    flex-grow: 0;
    background: #0f1120;
    margin-left: -15px;
    width: 100;
  }
  .content{
    flex-shrink: 1;
    flex-grow: 1;
    padding: 3px 5px;
    position: relative;
    overflow-y: auto;
  }

  p {
    font-family: Lato;
  }
  
  nav {
    background: #0f1120 !important;
  }
  .navbar-brand {
    font-family: "Padauk", sans-serif;
    color: white !important;
  }
  .nav-link {
    color: white !important;
  }

  footer {
    background: #1d1f2d !important;
    margin-left: -15px;
  }

  .home{
    float: right;
    margin: 20px;
    color: floralwhite;
    font-size: medium;
  }




